
<section id="products"></section>
     <div class="small-container">     
 
        <div class="row row-2">
            <h2>All Products</h2>
        </div>

        <div class="row" id="row">
          
        </div>
    </div>  


</section> 
    <!--Js Toggle Menu-->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight = "200px";
            }
            else{
                MenuItems.style.maxHeight = "0px";
            }
        }



        
        getProducts();
        function getProducts(){
            $.get('rest/products', function(data){
            var html = '';
            for(var i=0; i<data.length; i++){
                html+= 
                '<div class="col-4" id="col-4" onClick="singleProduct('+data[i].id+')">'+
                '<img src='+data[i].productPhoto+'>'+
                '<h4>'+data[i].productName+'</h4>'+
                '<p>'+data[i].productPrice+"$"+'</p>'+
                '</div>';
            }
            $("#row").html(html);
            console.log(data);
            });
        }

        function singleProduct(productId){
            localStorage.setItem("Productid", productId);
            window.location.href = '#product';
        }

    </script>

</body>
</html>
